<div class="navbar-header">
    <div class="top-left-part">
        <a class="logo" href="index.html">
            <b>
                <img src="img/logo.png" alt="home" />
            </b>
            <span class="hidden-xs">
                <img src="img/text.png" alt="home" />
            </span>
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-right pull-right">
        <li>
            <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                <input type="text" placeholder="Search..." class="form-control">
                <a href=""><i class="fa fa-search"></i></a>
            </form>
        </li>
        <li>
            <a class="profile-pic" href="#">
                <b class="hidden-xs">User1</b>
            </a>
        </li>
    </ul>
</div>